.container
{
  width: 100%;
  /*height: auto;*/
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid salmon;*/
  /*background-color: white;*/
  /*height: 800px;*/
}
.main
{
  /*border: 1px solid red;*/
  position: relative;
  /*border:  1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.centerRed
{
  background-color: black;
  position: absolute;
  box-shadow: 0 0 3px 2px lightgrey;
}
.pointer
{
  box-shadow: 0 0 2px 1px lightgrey;
  user-select: none;
  cursor: pointer;
}

.hour
{
  /*color: mistyrose;*/
  color: #cfeaa1;
  /*color: mediumaquamarine;*/
  width: 30%;
  height: 100%;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*border:  1px solid salmon;*/
  /*border: 1px solid red;*/
  cursor: pointer;
}
.maoHao
{
  color: black;
  height: 50%;
  width: 8%;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*border: 1px solid salmon;*/
}
.maoHao1
{
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: salmon;
}
.maoHao2
{
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: salmon;
}
.minute
{
  /*color: mistyrose;*/
  color: #7bc0db;
  width: 30%;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*border:  1px solid salmon;*/
  cursor: pointer;
}
.rounds
{
  font-size: 15px;
  color: #808485;
  width: 20%;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*border: 1px solid red;*/
}
.round
{
  width: 100%;
  color: lightgrey;
  /*border: 1px solid red;*/
  display: flex;flex-direction: column;justify-content: center;align-items: center;
  /*padding: 5px;*/
  margin-top :2px;
  margin-bottom: 2px;
  height: 25px;
  text-shadow: #d5e7d5 0 0 1px;
  /*font-weight: bold;*/
  border-radius: 30px;
  transition: 0.8s;
  cursor: pointer;
}
.roundSelected
{
  composes: round;
  box-shadow: 0 0 2px forestgreen inset,0 0 5px forestgreen;
  color: forestgreen;
}

.slowIn
{
  animation: slowInFrame 400ms, ease infinite alternate;
}
@keyframes slowInFrame {
  from {
    transform: scale(0.1);
    opacity: 0%;
  }
  to {
    transform: scale(1);
    opacity: 100%;
  }
}


